body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: 1px solid gray;
  z-index: 1;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 8px;
}
select {
  word-wrap: normal;
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid gray;
  color: gray;
  cursor: pointer;
}
option {
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  select,
  input {
    padding: 3px;
    font-size: 12px;
  }
}
